body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("sheep.jpg");
  background-size: cover;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  text-align: center;
}

div {
  box-sizing: border-box;
  height: fit-content;
  max-width: 300px;
  padding: 25px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

#glass-div {
  box-shadow: 5px 5px 20px black;
  border-radius: 5px;
  background-color: #ffffff80;
}

#increment-btn {
  background: midnightblue;
}

#save-btn {
  background: royalblue;
}

#attribution-el {
  font-weight: 400;
  font-size: 0.9rem;
  font-style: italic;
}
